<div id="<%= dom_id applicant %>">
  <p>
    <strong>Name:</strong>
    <%= applicant.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= applicant.email %>
  </p>

  <p>
    <strong>Resume:</strong>
    <%= applicant.resume %>
  </p>

  <p>
    <strong>Job opening:</strong>
    <%= applicant.job_opening_id %>
  </p>

</div>
