<%= form_with model: job_application, url: job_opening_job_applications_path(@job_application.job_opening_id) do |form| %>
    <% if job_application.errors.any? %>
        <div style="color: red">
        <h2><%= pluralize(job_application.errors.count, "error") %> prohibited this job_application from being saved:</h2>
     
        <ul>
            <% job_application.errors.each do |error| %>
            <li><%= error.full_message %></li>
            <% end %>
        </ul>
        </div>
    <% end %>

    <%= form.hidden_field :applicant_id %>
    <%= form.hidden_field :job_opening_id %>

    <div>
        <%= form.label :name, style: "display: block" %>
        <%= form.text_field :name %>
    </div>
     
    <div>
        <%= form.label :email, style: "display: block" %>
        <%= form.text_field :email %>
    </div>
     
    <div>
        <%= form.label :phone, style: "display: block" %>
        <%= form.text_field :phone %>
    </div>
     
    <div>
        <%= form.label :resume_link, style: "display: block" %>
        <%= form.text_field :resume_link %>
    </div>
     
    <div class="field">
        <%= form.label :address_line_1, style: "display: block" %>
        <%= form.text_field :address_line_1 %>
    </div>

    <div class="field">
        <%= form.label :address_line_2, style: "display: block" %>
        <%= form.text_field :address_line_2 %>
    </div>

    <div class="field">
        <%= form.label :city, style: "display: block" %>
        <%= form.text_field :city %>
    </div>

    <div class="field">
        <%= form.label :state, style: "display: block" %>
        <%= form.text_field :state %>
    </div>

    <div class="field">
        <%= form.label :zip, style: "display: block" %>
        <%= form.text_field :zip %>
    </div>

    <div class="field">
        <%= form.label :education, style: "display: block" %>
        <%= form.text_field :education %>
    </div>

    <div class="field">
        <%= form.label :work_experience, style: "display: block" %>
        <%= form.text_area :work_experience %>
    </div>
    <div>
        <%= form.submit %>
    </div>
<% end %>
