<p style="color: green"><%= notice %></p>

<%# Is job opening is empty show no job opening else render all job openings %>

<h1>Job openings</h1>
<% if @job_openings.empty? %>
  <p>No job openings</p>
<% else %>
  <div id="job_openings">
    <% @job_openings.each do |job_opening| %>
      <p>
        <strong>Job Opening:</strong>
        <%= job_opening.title %> at <%= job_opening.company_name %>
      </p>
      <p>
        <%= link_to "Show this job opening", job_opening %>
      </p>
    <% end %>
  </div>
<% end %>

<%= link_to "New job opening", new_job_opening_path %>
