<h1><%= @job_opening.title%> </h1>
<p><%= @job_opening.description%></p>
<p> Latitude - <%= @job_opening.latitude%></p>
<p> Longitude - <%= @job_opening.longitude%></p>
<ul>
  <li><%= link_to "Edit", edit_job_opening_path(@job_opening) %></li>
  <li><%= link_to "Delete", job_opening_path(@job_opening), data:{
    turbo_method: :delete,
    turbo_confirm: "Are you sure you want to delete this job opening?"
  } %></li>
  <li><%= link_to "Back", job_openings_path %></li>
</ul>