<p style="color: green"><%= notice %></p>

<%= render @job_opening %>

<div>
  <%= link_to "Edit this job opening", edit_job_opening_path(@job_opening) %> |
  <%= link_to "Back to job openings", job_openings_path %>

  <%= button_to "Destroy this job opening", @job_opening, method: :delete %>
</div>
