<!DOCTYPE html>
<html>
  <head>
    <title>Jobportal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <nav>
    <div style="
    display: flex;
    margin-right: auto;
    margin-left: 19px;">
    <%# Set the height and width of the image inside the embedded ruby tag %>
    <%= image_tag("joblogo1.svg", :height => '36', :width => '37') %>
    </div>
    <% if applicant_signed_in? %>
      <%= link_to "Home", root_path %>
      <%= link_to "Job openings", job_openings_path %>
      <%= link_to "Sign out", destroy_applicant_session_path, method: :delete%>
    <% else %>
      <%= link_to "Home", root_path %>
      <%= link_to "Sign in", new_applicant_session_path %>
    <% end %>
  </nav>
  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
